@import "./components/setup";
@import "./components/base";
@import "./components/header";
@import "./components/main";
@import "./components/weapons";
@import "./components/armors";
@import "./components/elixirs";
@import "./components/footer";

// Accent text color = #B99F65
// Main text color = #FFF

body {
    background-image: url('../assets/botwBackgroundPattern.jpg');
    font-family: 'Libre Baskerville', serif;
    color: #fff;
}

.wrapper {
    max-width: 1080px;
    width: 95%;
    margin: 0 auto;
}