.food:hover {
    background-color: #00A3DA;
}

.food {
    padding: 10px 30px; 
    border-radius: 10px;
}

.food h2 {
    margin: 20px 0px;
}

.food img {
    margin-bottom: 20px;
}

.food p {
    margin-bottom: 20px;
}

.food .description {
    line-height: 30px;
}

.display_food {
    background: #00A3DA;
}

.hide_food {
    display: none;
}