main .wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

main button {
    background-color: #B99F65;
    padding: 10px 30px;
    margin-bottom: 10px;
    border-radius: 50px;
    border: 2px solid transparent;
    color: white;
    transition: all 0.5s;
    &:hover {
        background-color: white;
        border: 2px solid #B99F65;
        color: #B99F65;
    }
}

main a {
    display: block;
    background-color:#B99F65;
    color: white;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
    text-align: center;
    transition: all 0.5s;
    @include remCalc(16);
    &:hover {
        background-color: #fff;
        color: #B99F65;
    }
}

.weapons__section {
    width: 33.3333%;
}

.armors__section {
    width: 33.3333%;
}

.elixir__section {
    width: 33.3333%;
}

.weapons__list {
    padding: 0 20px;
    height: 600px;
    overflow: scroll;
}

.armors__list {
    padding: 0 20px;
    height: 770px;
    overflow: scroll;
}

.elixir__list  {
    padding: 0 20px;
    height: 600px;
    overflow: scroll;
}